body{
    margin: 0;
}
html {
    scroll-behavior: smooth; 
}


/*Cambio de navbar mal estructurado*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1a1a1a;
}

.header {
    position: fixed;
    width: 100%;
    background-color: #0C0C0C;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0C0C0C;
    padding: 1rem 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.navbar__logo-img {
    height: 40px;
    width: auto;
}

.navbar__nav {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar__link {
    font-family: 'Roboto', sans-serif;
    color: #FCEA2B;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.8rem 1.1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navbar__link:hover {
    background-color: #0C0C0C;
    border-color: #FCEA2B;
}


.content-hero{
    display: flex;
    box-sizing: border-box;
    height: 100vh;
    justify-content: space-between;
    background-color: #0C0C0C;
   
    
}

.hero-text{
    width: 50%;
    padding-left: 8%;
    padding-top: 10%;
}
.hero-text h1{
    font-family: "Italiana", sans-serif;
    color: #FCEA2B;
    font-size: 4rem;
    display: block;
    width: 100%;
    padding-bottom: 40px;
}

.hero-text p{
    font-family:'Roboto', sans-serif;
    font-weight: 50px;
    font-size: 1.5rem;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 40px;
}

.hero-text button{
    padding: 15px 60px;
    border-radius: 15px;
    background-color: #0C0C0C;
    border: solid 2px #FCEA2B;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 250px;
    transition: all 0.3s ease;
}
.hero-text a{
    text-decoration: none;
    color: white;

}
.hero-text a:hover{
    color: #0C0C0C;
}
.hero-text button:hover {
    background-color: #FCEA2B;
    color: #0C0C0C;
}

.hero-image{
    display: flex;
    height: 100%;
    width: 50%;
    
}

